<!DOCTYPE html>
<html>
<head>
  <title>MakerPass</title>
  <%= stylesheet_link_tag    "makerpass/application", media: "all" %>
  <%= javascript_include_tag "makerpass/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
